# python compiled images
__pycache__
# WingIDE user-specific project files
*.wpu
# cached info for coverage
.coverage
# we specifically don't want to store this, it should be symlink
utl_lookup/settings.py

data/
# softlink to utl_indexer program
parse_file.py
# static files collection directory
/static/
# scripts to do web server maint. on my box
*_wsgi.sh
# emacs-related files
.projectile
TAGS
# documentation output directories
jsdocs/
doc/_build/
doc/api/
# local copy of django object inventory
doc/django_objects.inv
# another generated dir
doc/management
node_modules/
.tern-port
