# python compiled images
__pycache__
# WingIDE user-specific project files
*.wpu
# cached info for coverage
.coverage
# we specifically don't want to store this, it should be symlink
utl_lookup/settings.py
data/
# softlink to utl_indexer program
parse_file.py
# avoid cluttering up repo with files not used for tests
utl_files/test_data/skin-editorial-core-base/resources/
utl_files/test_data/skin-editorial-core-base/templates/
utl_files/test_data/skin-editorial-core-base/includes/
