# python compiled images
__pycache__
# WingIDE user-specific project files
*.wpu
# cached info for coverage
.coverage
# we specifically don't want to store this, it should be symlink
utl_lookup/settings.py
data/
# softlink to utl_indexer program
parse_file.py
# static files collection directory
/static/
*_wsgi.sh
.projectile
TAGS
# documentation output
jsdocs/
